<section data-ng-controller="ArticlesController" data-ng-init="find()">
	<div class="page-header">
		<h1>Budgets</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="article in articles" data-ng-show="authentication.user._id == article.user._id" data-ng-href="#!/articles/{{article._id}}/edit" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="article.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="article.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="article.title"></h4>
			<p class="list-group-item-text"> Target Value: $<span data-ng-bind="article.content"></span></p>
			<p class="list-group-item-text"> Current Balance: $<span data-ng-bind="article.currentBalance"></span></p>
			<p class="list-group-item-text"> Start Date: <span data-ng-bind="article.startDate | date:'MM/dd/yyyy'"></span></p>
			<p class="list-group-item-text"> End Date: <span data-ng-bind="article.endDate | date:'MM/dd/yyyy'"></span></p>
		</a>
		
	</div>
	
	<div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
		No budgets yet, why don't you <a href="/#!/articles/create">create one</a>?
	</div>
</section>